In [ ]:
* It allows you to execute a block of code repeatedly for a specified number of iterations.

# print odd value between 20 and 80 without using if.Using for loop only.

In [2]:
for i in range (21,81,2):
    print(i)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79

#  Create a list of 1 to 20 number using for loop [1,2,3...20]

In [7]:
numbers=[]
for i in range (1,21):
    numbers.append(i)
    print(numbers)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Create a list of numbers from 20 to 1 without using reverse

In [10]:
numbers=[]
for i in range(20,0,-1):
    numbers.append(i)
    print(numbers)

[20]
[20, 19]
[20, 19, 18]
[20, 19, 18, 17]
[20, 19, 18, 17, 16]
[20, 19, 18, 17, 16, 15]
[20, 19, 18, 17, 16, 15, 14]
[20, 19, 18, 17, 16, 15, 14, 13]
[20, 19, 18, 17, 16, 15, 14, 13, 12]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Take a cube of odd values between 20 and 40

In [13]:
for i in range (21,41,2):
    print(f"The cube of {i}is {i**3}")

The cube of 21is 9261
The cube of 23is 12167
The cube of 25is 15625
The cube of 27is 19683
The cube of 29is 24389
The cube of 31is 29791
The cube of 33is 35937
The cube of 35is 42875
The cube of 37is 50653
The cube of 39is 59319

# Display friends name and ages

In [19]:
names=['a','b','c','d','e']
ages=[20,21,23,25,24]
for i in range(len(names)):
    print(f"My names is {names[i]},my age is {ages[i]}")

My names is a,my age is 20
My names is b,my age is 21
My names is c,my age is 23
My names is d,my age is 25
My names is e,my age is 24