# Creating a Set

# Empty set

In [ ]:
my_set=set()

# Set with initial values

In [ ]:
my_set=(1,2,3,4,5)

# set with mixed data types

In [ ]:
my_set=(1,"hello",3.14,True)

# Set Operations

In [28]:
my_set=(1,2,3)
your_set=(3,4,5)

# Union

In [30]:
print(my_set.union(your_set))

AttributeError: 'tuple' object has no attribute 'union'

# Intersection

In [16]:
print(my_set.intersection(your_set))

AttributeError: 'tuple' object has no attribute 'intersection'